.navbar .navbar-brand{
    color:rgb(211, 43, 226);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    position: relative;
    left: 2%;
}

.collapse.navbar-collapse{
    font-size: 1.2rem;
}
.collapse.navbar-collapse.show{
    position: relative;
    right: 0%;
    font-size: 1rem;
} 

#title{
    color:rgb(211, 43, 226);
}

#intro{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: rgb(211, 43, 226);
}

